<!-- Work in Progress - Connect to server to send emails -->
<!-- <h1 mat-dialog-title> Contact Me </h1>
<mat-dialog-content [formGroup] = "sendEmailForm">
  <mat-form-field fxFill appearance = 'outline'>
    <input matInput placeholder = "Full Name" formControlName = "name" >
  </mat-form-field>
  <br/>
  <mat-form-field fxFill appearance = 'outline'>
    <input matInput placeholder = "Email" formControlName = "email">
  </mat-form-field>
  <br/>
  <mat-form-field fxFill appearance = 'outline'>
    <input matInput placeholder = "Company" formControlName = "company">
  </mat-form-field>
  <br/>
  <mat-form-field fxFill appearance = 'outline'>
    <textarea matInput cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              placeholder = "Message" formControlName = "message"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class = "actionBtn">
  <button mat-raised-button mat-button (click) = "onClose()">Cancel</button>
  <button mat-raised-button mat-button [disabled]="!sendEmailForm.valid" class = "sendBtn" (click) = "onSubmit()">Send</button>
</mat-dialog-actions> -->
<h1 mat-dialog-title> Contact Info </h1>
<mat-dialog-content [formGroup] = "sendEmailForm">
  <br>
  <p class = "contactStyle">
    Email:
    <p class = "contactText">
      andyyeung122@gmail.com
    </p>
  <br>
  <p class = "contactStyle">
    Phone:
    <p class = "contactText">
      646-387-0136
  </p>
</mat-dialog-content>
<mat-dialog-actions class = "actionBtn">
  <button mat-raised-button mat-button class = "sendBtn" (click) = "onClose()">Close</button>
</mat-dialog-actions>



