<div class="card-container">
  <a class="card" (click) = "goToHome()">
    <mat-icon class = "icons" viewBox="0 0 24 24">home</mat-icon>
    <span>Home</span>
  </a>

  <a class="card" (click) = "goToResume()">
    <mat-icon class = "icons" viewBox="0 0 24 24">insert_drive_file</mat-icon>
    <span>Resume</span>
  </a>
</div>
<p class = "titleStyle" >
  My Work
</p>
<div class = "projectsLayout" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="20px">
  <mat-card class = "mat-elevation-z8 cardStyle" *ngFor="let project of projects" fxFlex>
    <img [src] ="project.image">
    <mat-divider></mat-divider>
    <mat-card-title class = "cardTitleStyle">
      <span>{{project.title}}</span>
    </mat-card-title>
    <mat-card-content fxLayout = "column">
      <p>
        {{project.description}}
      </p>
      <mat-list role = "list" *ngFor="let skill of project.skill">
        <mat-list-item class = "skillStyle" role = "listitem">
          {{skill}}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions class = "actionBtnStyle" fxLayout = "column" >
      <a class = "btnStyle" mat-raised-button href = "{{project.link}}" target="_blank">GitHub Version</a>
      <!-- The 'target="_blank"' part is used to open a new tab -->
    </mat-card-actions>
  </mat-card>
</div>
